


 /*----------------------------*/
 /*                            */
 /*  EDIT THIS FILE TO APPLY   */
 /*  YOUR DESIRED STYLE!       */
 /*                            */
 /*----------------------------*/



/*--------- BACKGROUND ---------------------*/

html { 
	/*koko sivun tausta on valkoinen.
	Muuta haluamaksesi*/
	background: rgb(235, 203, 144); 

	/*Jos määrität html-tagissa fontteja, 
	taustavärejä tai tekstin värejä,
	samat määritykset tulevat kaikkiin sisällä oleviin
	elementteihin. Näin voit määrittää esim. koko sivun 
	fontit, värit ym. ja sitten muuttaa haluamissasi
	elementeissä tyylin toiseksi.*/
font-family: 'Times New Roman', Times, serif;


}

body { 
	
	/*Kaiken sisällön ympärillä on body. 
	Voit muuttaa myös bodyn taustaväriä tai
	esim. lisätä paddingin, jotta elementit eivät 
	olisi reunassa kiinni.*/
	
	/*Tällä koodilla voit tehdä niin, että yli 900px
	leveässä näytössä body-tagi jää vain 900px leveäksi,
	ja reunoille jää tyhjää. Voit muuttaa tätä miten haluat.*/
	max-width: 900px;
	margin: auto; /*tämä keskittää body-tagin sivusuunnassa*/
	background-color: rgb(117, 117, 117);
display: flex; flex-wrap: wrap; justify-content: center;
}

/*--------- HEADER ---------------------*/

/*Header text on top of the menu*/
header h1 { 
	/*Pääotsikko*/

	/*Täällä kannattaa muokata background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Laita myös ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voit halutessasi myös esim. keskittää otsikon (text-align: center;)*/
text-align: center;
background-color: rgb(235, 203, 144);
font-size: large;
font-family: 'Lato', sans-serif;
padding: 20px;
margin: 0;
width: 100%
max-width: 400px;
}

/*--------- MAIN MENU ---------------------*/

/*Menu*/
#main-menu { 
	list-style-type: none; 
	
	/*Voit tehdä tästä flexboxin, 
	niin valikon napit menevät vierekkäin*/

	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */
	
	/*Voi muokata täällä myös background-, color-arvoja.*/
		display: flex; flex-wrap: wrap;
	background-color:rgb(235, 144, 144);
	flex-direction: row-reverse;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
	margin: 15px;


}

/*Menu item*/
#main-menu li {
	/*Laita tässä ja marginaalit paddingit paremmin, 
	niin näyttää tyylikkäämmältä */

	/*Voi muokata täällä myös background-, color-arvoja.*/
background-color: rgb(230, 172, 181)!important;
margin: 15px;
padding: 20px;
margin-left: 15px;
margin-right: 15px;

}

/*Link in menu item*/
#main-menu a { 

	text-decoration: none; /*poistaa linkin alleviivauksen*/

	/*Voi muokata täällä myös background-, color- 
	font-size- ja font-family-arvoja.*/
font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*Menu item when mouse over*/
#main-menu a:hover { 
	
	/*Tässä määritellään, miltä valikon linkki näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: rgb(255, 255, 255); 
	background: rgb(255, 153, 0); 
	
		
	
}

/*------- ARTICLE BUTTONS -------------------*/
/*Button in end of each article*/
.button { 
	/*saatat haluta tehdä napista aika samanlaisen
	kuin valikkolinkit, mutta toisenlainenkin 
	voi olla ihan tyylikäs*/

	/*Voi muokata täällä myös background-, color- 
	font-size- ja font-family-arvoja.*/
	
	/*Tämä on a-elementti, ja se on oletuksena 
		display: inline; 
	Siksi sen kokoa tai paikkaa ym. ei voi muuttaa.
	Jotta nappia on helpompi käsitellä, voi muuttaa sen 
		display: block;
		
	Ymmärtääksesi paremmin mitä on block ja inline ym., 
	katso tämä video: https://www.youtube.com/watch?v=9T8uxp5hQ60	
	*/

	/*Tällä koodilla saat fancyn varjon :) 
		box-shadow: 0px 2px 10px rgba(0,0,0,50%); 
	*/
	display: flex;flex-wrap: wrap;justify-content: center;justify-end: flex-end;justify-start:	
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: burlywood;
	color: #fff;
	border: 1px solid #d2a679;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px; 
}

/*Button when mouse over*/
.button:hover { 
	/*Tässä määritellään, nappi näyttää, 
	kun kursori on sen päällä. Muuta paremmaksi */
	color: rgb(255, 255, 255); 
	background: rgb(236, 153, 0);
	
	/*Voit halutessasi laittaa vaikka koko 
	artikkelin muuttumaan jotenkin hiukan, 
	kun sen päällä on kursori.. :) */
}


/*--------- ARTICLES ---------------------*/

/*Artikkeleiden ympärillä*/
main {
	/*Kaikki "artikkelit" ovat main-tagin sisällä.
	Jos pidät tämän flexboxina, artikkelit menevät
	vierekkäin leveässä näytössä. 
	ja sitten artikkeleihin (ks. alla) esim. ,
	jolloin artikkelit asettuvat vierekkäin.*/
	
	display: flex; flex-wrap:wrap; justify-content: center;
}

/*Frame of each "article"*/
article {
	max-width: 300px; /*Jos main on flexbox, 
	tämä tekee sen, että "artikkelit" mahtuvat vierekkäin.*/
	
	/*Yksittäisen artikkelin tausta:
	Saatat haluta  muokata täällä background-, color- 
	sekä font-size- ja font-family-arvoja.*/

	/*Tärkeää: Laita tässä marginaalit ja paddingit paremmin, 
	niin näyttää tyylikkäämmältä! Teksti, kuva ym. ei saa olla 
	reunaan asti, vaan reunassa pitää olla marginaali (teknisesti
	margin tai padding).*/
padding: 15px;
}



/*article title*/
article h2 { 

	/*Yksittäisen artikkelin otsikko*/

	/*Kannattaa muokata täällä background-, color- 
	font-size- ja font-family-arvoja.*/

	/*Saatat haluta muokata täällä myös 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/
background-color: burlywood; color: rgb(255, 255, 255);
font-size: x-large;
margin-bottom: 15px;margin-right: 5px;
padding-left: 15px;
padding-right: 15px;
margin-left: 5px;
text-align: center;
}

/*article text*/
article p { 
	/*Artikkelin pienempi teksti*/

	/*Saatat haluta muokata täällä 
	background-, color-, margin- ja padding-
	font-size- ja font-family-arvoja.*/
padding-left: 15px;padding-right: 15px;

}

/* "Images" */
.article-image { 
    max-width: 100%; /*Tämä tekee sen, että kuva ei mene yli reunasta.*/

	/*Kuva voi olla koko artikkelin levyinen tai pienempi. 
	Esim. alla olevalla kuvasta tulisi pienempi (=50%)
	ja teksti kiertää kuvaa (=float):
		width: 50%;
		min-width: 150px;
		float: left; 
	*/
float:left; 
}

/*-------- FOOTER ---------------*/

footer {
	/*Kannattaa laittaa footeriin vähintään padding 
	ja ehkä eri taustaväri, jotta se erottuu hiukan.*/
	padding: 15px;background-color: wheat

}

